.idea
.VSCodeCounter
.vscode
logs
Writerside
bump.json
npm-debug.log
.run
node_modules
.env*
.flaskenv*
!.env.project
!.env.vault
backups
# Ignore git
.git
# Codebuddy
.codebuddy/*
# Aider files
*.aider
.pnpm-store
pnpm-debug.log

!assets/*
!Khronos-Swagger-Spec-v1.json