# Auto detect text files and perform LF normalization
* text=auto eol=lf
*.json text eol=lf

# Swagger spec - minimize diff noise and mark as generated
Khronos-Swagger-Spec-v1.json -diff linguist-generated=true 