services:
  pluto_api:
    image: ghcr.io/fearandesire/pluto-betting-bot:latest
    build:
      context: .
    volumes:
    - ./spec/khronos-swagger-spec-v1.json:/app/spec/khronos-swagger-spec-v1.json
    ports:
      - 2090:2090
    networks:
      - webnet
      - redis-net
    restart: always
    container_name: pluto_api
    environment:
      - DOPPLER_TOKEN=${PLUTO_DOPPLER_TOKEN}

networks:
  webnet:
    external: true
  redis-net:
    external: true
